.subtitle {
	padding-left: 15px;
}

input {
	text-align: center;
}

.last-search {
	font-weight: 800;
}

.recipe-title {
	text-align: center;
	font-size: 2rem;
}

.cuisines {
	text-align: center;
	list-style: none;
}

footer {
	text-align: center;
}

.no-instructions {
	text-align: center;
}
